body{
  background: url('../imgs/background.png') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  overflow-x: hidden;
}
h1 i,
h2 i,
h3 i,
h4 i {
  font-weight: bold;
}
h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}
h4 {
  margin: 0px;
  margin-top: 40px;
}
h2, h3, h4, h5{color: #4170b4;}
pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}
header{margin-top: 100px;}
.mt-20{margin-top: 20px;}
.mt-40{margin-top: 40px;}
.mt-60{margin-top: 60px;}
.item{
  background-color: #d7e4f4;
  max-width: 800px;
  height: 400px;
  position: relative;
  background-size: 95%;
  margin-left: 7%;
}
.carousel-caption {
  top: 1px; 
  right: 10px;
  left: 10px;
  padding-left: 15px;
  padding-right: 60px;
  text-shadow:none;
 }
 .carousel-caption p{
   color: #000;
   text-align: left;
   font-size: 13px;
   padding-left: 20px;
   line-height: 1.0em;
}
.carousel-control.left{
 background: url("../imgs/seta_esq.png") no-repeat;
 position: absolute;
 top: 40%;
}
.carousel-control.right{
  background: url("../imgs/seta_dir.png") no-repeat;
  position: absolute;
  top: 40%;
}
.legenda{
  color: #000;
  margin-bottom: unset !important;
  text-align: center;
}
.carousel-indicators {
  bottom: -45px;
  left: 50%;
}
.carousel-indicators li {
  border: 1px solid #2875c5;
  background-color: #2875c5;
}

.informacoesPessoais{
  border: #000 2px solid;
}
.pagina{
  background:url("../imgs/bg_esquerda.png") no-repeat left top;
}
.bloco2{
  margin-top: 30px;
  background:url("../imgs/bg3_esq.png") no-repeat left bottom, url("../imgs/bg2_dir.png") no-repeat right top, #e8e8e8;
}
.espacamento{margin-top: 55px;}
table.senac td {
  border-color: #004b8a;
}

table.senac {
  border-color: #004b8a;
}


@media screen and (max-width: 780px){
.item{max-width: 600px;}

}
@media screen and (max-width: 480px){
  .item{max-width: 430px;
  }
  .informacoesPessoais p{font-size: 10px;}

}

@media screen and (max-width: 1641px){
  .pagina{background-size: 10%;}
  .bloco2{background-size: 10%;}
}
@media screen and (max-width: 1241px){
  .pagina{background: unset;}
  .bloco2{background: unset;}
}

@media screen and (max-width: 1030px){
  .bloco2{background: unset;
    background-color:#e8e8e8;
  }
}