
.paginas .container {
background: linear-gradient(#ffff,#dae8f7);
}
.modal-100 .modal-content{
  background: linear-gradient(#ffff,#dae8f7);
  background-size: cover;
  background-attachment: fixed;
}
.modal-100 .container{
  background: unset;
}
.modal-body {
  position: relative;
  padding: 15px;
}
#booklet{
  background:url('../imgs/bg.png');
  padding: 4px;
  z-index: 2;
  background-attachment: fixed;
}
.grupo-imprimir{
  margin-bottom: 5px;
}
h1 i,
h2 i,
h3 i,
h4 i {
  font-weight: bold;
}
h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}
h4 {
  margin: 0px;
  margin-top: 40px;
}
h2, h3, h4, h5{color: #4170b4;}
pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}
header{margin-top: 100px;}
.mt-20{margin-top: 20px;}
.mt-40{margin-top: 40px;}
.mt-60{margin-top: 60px;}
.bt-01{
  background: url("../imgs/bt1.png") no-repeat;
  border: none;
  z-index: 4;
  width: 100px;
  height: 114px;
  margin-left: 15px;
  position: absolute;
  margin-top: -40px;
}
.bt-01:hover{
  opacity: 0.6;
  transform: scale(1.1);
  color: #fff;
}
.bt-02{
  background: url("../imgs/bt2.png") no-repeat;
  border: none;
  z-index: 4;
  width: 148px;
  height: 148px;
  margin-top: -40px;
  position: absolute;
  margin-left: 15px;
}
.bt-02:hover{
  opacity: 0.6;
  color: #fff;
  transform: scale(1.1);
}
.bt-03{
  background: url("../imgs/bt3.png") no-repeat;
  border: none;
  z-index: 4;
  width: 148px;
  height: 148px;
  margin-top: -40px;
  margin-left: 15px;
  position: absolute;
}
.bt-03:hover{
  opacity: 0.6;
  color: #fff;
  transform: scale(1.1);
}
.bt-04{
  background: url("../imgs/bt4.png") no-repeat;
  border: none;
  z-index: 4;
  width: 148px;
  height: 148px;
  margin-left: 15px;
  margin-top: -40px;
  position: absolute;
}
.bt-04:hover{
  opacity: 0.6;
  color: #fff;
  transform: scale(1.1);
}
.imgPainel{
  position: absolute;
  margin-top: -40px;
  margin-left: 15px;
}
.painelBotoes{
  background: url("../imgs/painel_fundo.png") no-repeat center;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 0.9em;
  position: relative;
  z-index: 3;
  width: 600px;
  height: 31px;
}
.painelBotoesMobile{
margin-top: 45px;
margin-bottom: 45px;

}
.bt-01x{
  background: url("../imgs/bt1.png") no-repeat;
  border: none;
  width: 100px;
  height: 114px;
}
.bt-01x:hover{
  opacity: 0.6;
  color: #fff;
}
.bt-02x{
  background: url("../imgs/bt2.png") no-repeat;
  border: none;
  width: 148px;
  height: 148px;
}
.bt-02x:hover{
  opacity: 0.6;
  color: #fff;
}
.bt-03x{
  background: url("../imgs/bt3.png") no-repeat;
  border: none;
  width: 148px;
  height: 148px;
  margin-left: 40px;
}
.bt-03x:hover{
  opacity: 0.6;
  color: #fff;
}
.bt-04x{
  background: url("../imgs/bt4.png") no-repeat;
  border: none;
  width: 148px;
  height: 148px;
}
.bt-04x:hover{
  opacity: 0.6;
  color: #fff;
}
.caixa-destaque{
  background-color: #d6e3f3 !important;
  padding: 2em;
  width: 45%;
  margin: 0 auto;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  border-radius: 1em;
  border: #fff 2px solid;
}
.infograficoCirculo{
position: absolute;
margin-left: -60px;
margin-top: 80px;
}
.infograficoCirculo2{
  position: absolute;
  margin-left: -60px;
  margin-top: 45px;
}
.infograficoLinha{
  position: absolute;
  margin-left: -43px;
  margin-top: 116px;
}
.imgFinalizando{
  margin-top: 30px;
}

@media screen and (max-width: 430px){
.painelBotoes{display: none;}
.caixa-destaque{ width: 95% !important;}
.infograficoCirculo{display: none;}
.infograficoCirculo2{display: none;}
.infograficoLinha{display: none;}
  
}

@media screen and (min-width: 431px){
  .painelBotoesMobile{display: none;}
}

@media screen and (max-width: 780px){
  .caixa-destaque{ width: 62%;}
}



  
