
.paginas .container {
background-color:url("../imgs/bg.svg") repeat;
background-size: cover;
}

#booklet{
  background:url("../imgs/bg.svg") repeat;
  padding: 4px;
  z-index: 2;
  background-size: cover;
}
.paginas{
  background: url('../imgs/bg_esq.png') left bottom no-repeat, url('../imgs/bg_dir.png') right bottom no-repeat;
  z-index: 4;
  background-attachment: fixed;
}

.grupo-imprimir{
  margin-bottom: 10px;
}
h1 i,
h2 i,
h3 i,
h4 i {
  font-weight: bold;
}
h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}
h4 {
  margin: 0px;
  margin-top: 40px;
}
h2, h3, h4, h5{color: #4170b4;}
pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}
header{margin-top: 100px;}
.mt-20{margin-top: 20px;}
.mt-40{margin-top: 40px;}
.mt-60{margin-top: 60px;}

.caixa-destaque2{
  background-color:#2875c5;
  padding:2px;
  width: 70%;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  border-radius: 1em;
  position: relative;
  z-index: 3;
}
.caixa-destaque2 p{
  color: #fff;
  padding-left: 60px;
}
.desafio{
  position: absolute;
  margin-top: -20px;
  margin-left: 40px;
  z-index: 4;
}
.anota{
  position: absolute;
  margin-left: 40px;
  z-index: 4;
  margin-top: 4px;
}
li{
  margin-top: 10px;
}
.item{
  background: url("../imgs/slide.svg") no-repeat;
  max-width: 800px;
  height: 503px;
  position: relative;
  background-size: 95%;
  margin-left: 7%;
}
.carousel-control.left{
background: url("../imgs/seta_esq.png") no-repeat;
position: absolute;
top: 40%;
}
.carousel-control.right{
  background: url("../imgs/seta_dir.png") no-repeat;
  position: absolute;
  top: 40%;
}
.carousel-caption {
 top: 1px; 
 right: 10px;
 left: 10px;
 padding-left: 15px;
 padding-right: 60px;
 text-shadow: none;
}

.carousel-caption p{
  color: #000;
  text-align: left;
  font-size: 13px;
  padding-left: 20px;
  line-height: 1.0em;
}

.imgLeft{
  background: url("../imgs/seta_esq.png");
  z-index: 5;
}

.imgRight{
  background: url("../imgs/seta_dir.png");
  z-index: 5;
}
.carousel-indicators li {
  border: 1px solid #2875c5;
  background-color: #2875c5;
}

.carousel-indicators {
  bottom: -45px;
  left: 45%;
}
.img2{
max-width: 60%;
}
.legenda{
  color: #000;
  margin-bottom: unset !important;
  text-align: center;
}

.lista li{
font-size: 13px;
color: #000;
}

.slideCentro{
padding: 50px;
padding-right: 70px;
margin-top: 10%;
font-size: 14px;
}

.destaque1{
  background: url("../imgs/destaque1.svg") no-repeat center;
  background-size: 90%;
}

.destaque1 li {
  color: #fff;
}

.destaque1 p {
margin: unset;
}

.destaque1 ul{
  padding-left:90px;
  padding-right:90px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.destaque2{
  background: url("../imgs/destaque2.svg") no-repeat center;
  background-size: 90%;
}
.destaque2 li {
  color: #fff;
}

.destaque2 p {
margin: unset;
}

.destaque2 ul{
  padding-left:90px;
  padding-right:90px;
  padding-top: 45px;
  padding-bottom: 45px;
}



@media screen and (max-width: 430px){
  .anota{display: none;}
  .desafio{display: none;}
  .slidesDesktop{display: none;}
  .carouselDesktop{display: none;}
  .gaitinha li{font-size: 12px;
}}

@media screen and (min-width: 440px){
  .painelMobile{display: none;}
  .painelMobile2{display: none;}
}


@media screen and (max-width: 780px){
  .anota{margin-left: 15px;}
  .desafio{margin-left: 15px;}
  .destaque1{background-size: cover;}
  .destaque2{background-size: cover;}
  .img2{margin-left: 20%;}
  .carousel-caption p{
    font-size: 11px;
    margin-top: unset;
  }
  .carousel-caption li{
    font-size: 10px;}
  li {
    word-wrap: break-word;
  }
  .carousel-caption code{
    font-size: 10px;
  }
  
  .carousel-caption.slideCentro p{
    font-size: 13px;
  }
  .carousel-caption.slideCentro code{
  font-size: 13px;
  }
  .carousel-indicators {
    bottom: 30px;
    left: 48%;}
.item{
  margin-left: 3%;
  margin-right: 5%;
}

}

@media screen and (max-width: 1000px){
  .img-responsive.desafio, .img-responsive.anota{
    width: 100px;
  }
}


@media screen and (max-width: 1445px){
 .paginas{background: unset;}
 .carousel-caption.slideCentro p{
  font-size: 13px;
}
.carousel-caption.slideCentro code{
font-size: 13px;
}
}




  
